{% load i18n %}
<style>
  table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent; /* Change the background-color of table here */
  text-align: left;
}

th {
  font-weight: bold;
  border: 1px solid #cccccc;
  padding: 8px;
}

td {
  border: 1px solid #cccccc;
  padding: 8px;
}
</style>
        <table>
          <thead>
            <th>Community</th>
            <th>Unitary Value</th>
          </thead>
          <tbody >
            <tr> 
              <td><span ></span>hello</td>
              <td><span ></span>world</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>